// Logo
#leon-logo{
    height: 150px;
    width: 100%;
}

// Nav
nav{
    padding: 20px 0;
    a{
        font-family: 'Permanent Marker', cursive;
        color: @main-color;
        text-decoration: none;
        font-size: 2rem;
    }
}